/// Single source of truth for colours in the application.

$primary: #9c69b1;
$on-primary: #212121;
$primary-light: #c280ff;
$on-primary-light: #212121;
$primary-dark: #824d9b;
$on-primary-dark: #f5f5f5;

$secondary: #5cc1c9;
$on-secondary: #212121;
$secondary-light: #81bde6;
$on-secondary-light: #212121;
$secondary-dark: #478bc2;
$on-secondary-dark: #f5f5f5;

$error: $secondary-dark;
$on-error: $on-secondary-dark;

$background: #e2e2e2;

$secondary-background: #cccccc;

$transparent: rgba(#ffffff, 0);

$card: #ffffff;

$many-decks: #9b7cb4;
